#msg {
  width: 1920px;
  height: 1080px;
  background: #E0E0E0;
}

#object {
  margin: 0;
  padding: 5em;
  border: solid 0.2em #000; 
  background: #E0E0E0;
  opacity: 0.8;
  animation-name: revolve;
  animation-duration: 2s;
  animation-iteration-count: infinite
}

@keyframes revolve {
  0% {transform : rotate(20deg);}
  10% {transform : rotate(30deg);}
  20% {transform : rotate(40deg);}
  30% {transform : rotate(50deg);}
  40% {transform : rotate(70deg);}
  50% {transform : rotate(100deg);}
  70% {transform : rotate(140deg);}
  100% {transform : rotate(360deg);}
}

#coding sources_ANCIENT_png/A_UI title.png {
   width: 1920px;
   margin: 0;
   padding: 0;
}

#coding sources_ANCIENT_png/A_monitor.png {
  width: 70%;
  heigh: 70%;
  margin: 0;
  
#coding sources_ANCIENT_png/A_people.png {
  }
#coding sources_ANCIENT_png/A_mascot hodol.png {
  width: 50%;
  heigh: 50%;
  }
#coding sources_ANCIENT_gif/A_beyblade.gif {
  width: 60%;
  heigh: 60%;
  }    
#coding sources_ANCIENT_png/A_me.png {
  width: 300%;
  heigh: 300%;
  }
#coding sources_ANCIENT_png/A_cheap candy.png {
  width: 40%;
  heigh: 40%;
  }
#coding sources_ANCIENT_png/A_coin.png {
  width: 60%;
  heigh: 60%;
  }
#coding sources_ANCIENT_png/A_tamagotchi.png {
  }
#coding sources_ANCIENT_gif/A_bowling.gif {
  width: 120%;
  heigh: 120%;
  }

#coding sources_FUTURE_gif/F_me.gif {
  width: 110%;
  heigh: 110%;
  }
#coding sources_FUTURE_gif/F_people.gif {
  }
#coding sources_FUTURE_png/F_bowling.png {
  }
#coding sources_FUTURE_png/F_coin bw.png {
  width: 70%;
  heigh: 70%;
  }
#coding sources_FUTURE_png/F_coin gold.png {
  width: 200%;
  heigh: 200%;
  }
#coding sources_FUTURE_png/F_mascot sooho.png {
  width: 70%;
  heigh: 70%;
  }
#coding sources_FUTURE_png/F_monitor.png {
  width: 300%;
  heigh: 300%;
  }
#coding sources_FUTURE_png/F_rabbit.png {
  width: 110%;
  heigh: 110%;
  }
